@font-face {
  font-family: NetlifeSans;
  font-weight: normal;
  src: url(../fonts/Netlife-Regular.woff2) format('woff2');
}
@font-face {
  font-family: NetlifeSans;
  font-weight: bold;
  src: url(../fonts/Netlife-Bold.woff2) format('woff2');
}
@font-face {
  font-family: NetlifeSans;
  font-weight: normal;
  font-style: italic;
  src: url(../fonts/Netlife-RegularIta.woff2) format('woff2');
}
@font-face {
  font-family: NetlifeSans;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/Netlife-BoldIta.woff2) format('woff2');
}
@font-face {
  font-family: NetlifeLining;
  font-weight: normal;
  src: url(../fonts/Netlife-Lining.woff2) format('woff2');
}

html,
body {
  @apply antialiased;
  @apply font-sans;
  font-size: responsive 18px 36.25px;
  font-range: 1152px 2265px; /* Magic numbers from the old SASS code */
}

/* The color of the selected text */
::selection {
  @apply bg-pink;
  @apply text-black;
}

.link {
  @apply text-black;

  &:hover {
    @apply text-grey-dark;
  }
}

.rich-text {
  a {
    @apply font-lining;

    &:hover {
      @apply text-grey-dark;
    }
  }
  p {
    @apply my-4;
  }

  /* Removes padding and margin from the first element */
  *:first-child {
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: responsive 42px 116px;
    font-range: 934px 2560px; /* Magic numbers from the old SASS code */
  }
  h2 {
    font-size: responsive 26px 58px;
    font-range: 1040px 2320px; /* Magic numbers from the old SASS code */
    padding-top: 1.5em;
  }
  h3 {
    @apply font-bold;
    padding-top: 1.5em;
  }
}
