@font-face {
  font-family: NetlifeSans;
  font-weight: normal;
  src: url(../fonts/Netlife-Regular.woff2) format('woff2');
}
@font-face {
  font-family: NetlifeSans;
  font-weight: bold;
  src: url(../fonts/Netlife-Bold.woff2) format('woff2');
}
@font-face {
  font-family: NetlifeSans;
  font-weight: normal;
  font-style: italic;
  src: url(../fonts/Netlife-RegularIta.woff2) format('woff2');
}
@font-face {
  font-family: NetlifeSans;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/Netlife-BoldIta.woff2) format('woff2');
}
@font-face {
  font-family: NetlifeLining;
  font-weight: normal;
  src: url(../fonts/Netlife-Lining.woff2) format('woff2');
}

html,
body {
  @apply antialiased;
  @apply font-sans;
  font-size: responsive 18px 36.25px;
  font-range: 1152px 2265px; /* Magic numbers from the old SASS code */
}

.text-base {
  font-size: responsive 18px 36.25px;
  font-range: 1152px 2265px; /* Magic numbers from the old SASS code */
}
.text-lg {
  font-size: responsive 26px 58px;
  font-range: 1040px 2320px; /* Magic numbers from the old SASS code */
}
.text-xl {
  font-size: responsive 42px 116px;
  font-range: 934px 2560px; /* Magic numbers from the old SASS code */
}

/* The color of the selected text */
::selection {
  @apply bg-pink;
  @apply text-black;
}

a {
  @apply font-lining;
}
