GATSBY_SANITY_PROJECT_ID="v1k28emo"
GATSBY_SANITY_DATASET="production"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
# You can find the token in 1password - search for "Sanity Netlife.com Read token"
SANITY_READ_TOKEN=""

